<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoFrillsTransformation.Plugins.Salesforce.DotNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NoFrillsTransformation.Plugins.Salesforce.DotNet.Properties.Settings>
            <setting name="NoFrillsTransformation_Plugins_Salesforce_DotNet_Salesforce37_SforceService"
                serializeAs="String">
                <value>https://test.salesforce.com/services/Soap/u/37.0</value>
            </setting>
        </NoFrillsTransformation.Plugins.Salesforce.DotNet.Properties.Settings>
    </applicationSettings>
</configuration>