<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ComponentModel.Composition"
              switchValue="All">
        <listeners>
          <add name="fileListener"
               type="System.Diagnostics.TextWriterTraceListener"
               initializeData="composition.log" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>-->
</configuration>